#[[ We want everything self contained so... Trying this

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.lib

# Compiled Static libraries
*.lai
*.la
*.a

# eclipse
*.project
*.cprojects

# extracted prt releases
#/data* #ignoring these so that it is self contained
#/prt*  #ignoring these so that it is self contained
/esri_*/
#/include
#/bin
#/lib
#/doc
#/cmake
#build
*.zip
*.tgz
*.tar.gz
*.tar.bz2
*.tbz
*.tbz2
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.lib

# Compiled Static libraries
*.lai
*.la
*.a

# eclipse
*.project
*.cprojects

# extracted prt releases
/data*
/prt*
/esri_*/
/include
/bin
/lib
/doc
/cmake
build
*.zip
*.tgz
*.tar.gz
*.tar.bz2
*.tbz
*.tbz2
]]